@model IEnumerable<QuestionMark.Models.Question>

@{

    ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    @Html.Action("NewQuestion", "Partials")
}

<div class="grid">
    @foreach (var item in Model)
    {
        <div class="grid-item">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-9">
                            <h2 class="panel-title">@item.Topic.Title</h2>
                        </div>
                        <div class="col-md-3">
                            @if (User.IsInRole("Administrator"))
                            {
                                <div class="dropdown">
                                    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-sm btn-success">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                                        <li><a href="">Answer</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="" style="color: red">Delete</a></li>
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="panel-body" style="height: 140px">
                    <p style="font-size: 9.5pt">
                        @if (item.Content.Length > 140)
                        {
                            @item.Content.Substring(0, 140)
                            <span>...</span>
                        }
                        else
                        {
                            @item.Content
                        }
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <span style="font-size: 9pt; color: gray;">Status: @item.Status</span>
                        </div>
                    </div>
                </div>
                <div class="panel-footer" style="font-size:9pt; color:gray;">@item.PublishedAt <br /> <strong>@item.User.Name</strong></div>
            </div>
        </div>
    }
</div>

@section scripts
{
<script>
    $('.grid').masonry({
        itemSelector: '.grid-item',
    });
</script> 
}
